html{
    font-size:100px;
}
html,body{
    padding: 0;
    margin: 0;
    height:100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size:16px;
}
.wrapper{
    height:100%;
    width: 100%;
    background: #efefef;
}
header{
    height:10%;
    background: #1c1b21;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}
.header_back{
    flex: 1.5;
    background: url("img/back.png") no-repeat 0.05rem center;
    text-align: center ;
}
.header_title{
    text-align: center;
    flex: 4;}
.header_more{
    flex: 1.5;
    text-align: center;
}
section{
    height: 84%;
    padding-top: 6%;
}
.watch_sp{
    height: 30%;
    -width: 100%;
    background: #ffffff;
    font-size: 20px;
}
.watch_sp p{
	height:100%;
	float:left;
    text-align: center;
}
.watch_sp>p:nth-child(1){
	width:30%;
	background:url("../img/images/viedo@2x.png") no-repeat center;
}
.watch_sp>p:nth-child(2){
	width:60%;
    text-align: left;
	line-height:1.3rem;
}
.watch_sp>p:nth-child(3){
	width:10%;
	background:url("../img/images/next.png") no-repeat center;
}

.register_cp{
	margin-top:4%;
    height: 30%;
    width: 100%;
    background: #ffffff;
    font-size: 20px;
}
.register_cp p{
	height:100%;
	float:left;
    text-align: center;
}
.register_cp>p:nth-child(1){
	width:30%;
	background:url("../img/images/zhuce@2x.png") no-repeat center;
}
.register_cp>p:nth-child(2){
	width:60%;
    text-align: left;
	line-height:1.3rem;
}
.register_cp>p:nth-child(3){
	width:10%;
	background:url("../img/images/next.png") no-repeat center;
}

.explain_more{
    height: 24%;
    padding:6% 6% 0;
}
.explain_more p{
    line-height:0.4rem;
    font-size: 0.18rem;
}
.explain_more>p:nth-child(2){
    line-height:0.25rem;
    font-size: 0.18rem;
}



















