<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<?php echo base_url();?>" />
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="x-rim-auto-match" content="none" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>我的优惠</title>
    <script type="text/javascript" src="js/jquery.1.7.2.min.js"></script>
    <script type="text/javascript" src="js/alert.js"></script>
    <script type="text/javascript" src="js/loading.js"></script>
    <link rel="stylesheet" href="css/mycoupon.css" />
    <script src="js/hotcss.js"></script>
    <style>
        body{font-family: "Arial"; margin:0px; padding:0px; overflow:hidden;}
    </style>
</head>
<body>
<div class="demo" style="display: none;">
    <div class="stamp_m" style="margin-top:8%;display: none;">
        <div class="img" style="width:28%;float: left;margin-left: 4%;margin-top: 10%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#dafffa"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
            <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-left: 6%;">
                <font color="#dafffa"><b>仅限购买时使用</b></font>
            </div>
        </div>
        <div class="font_s" style="width: 58%;height:100%;float: right;margin-right: 4%;display: flex;align-items: center;">
            <ul>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                    <font color="#dafffa"><?php echo date('m月d日',$result['addtime']); ?> - <?php echo date('m月d日',$result['overtime']); ?>使用有效</font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 20%;">
                    <font color="#dafffa"><b>代金券</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 6%;">
                    <font color="#036053"><b>兑换码：<?php echo $result['con_code_m']; ?></b></font>
                </li>
                <li style='font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;background-color: #038472;'>
                    <font color="#dafffa"><b>&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 6%;">
                    <font color="#dafffa"><b>最终解释权归快舒尔所有</b></font>
                </li>
            </ul>
        </div>
    </div>

    <!--180none-->
    <div class="none_m" style="margin-top:8%;display: none;">
        <div class="img" style="width:28%;float: left;margin-left: 4%;margin-top: 8%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#fff"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
        </div>
        <div class="font_s" style="width: 58%;height:100%;float: right;display: flex;align-items: center;margin-right: 2%;">
            <ul>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 12%;">
                    <font color="#979797"><b>代金券</b></font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 12%;">
                    <font color="#979797"><b>暂无此券</b></font>
                </li>
            </ul>
        </div>
        <div class="over_my" style="width:30%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img src="img/coupon/shiyong2x.png"/>
        </div>
        <div class="overtime_m" style="width:30%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img src="img/coupon/overtime.png"/>
        </div>
    </div>
    <!--180已使用-->
    <div class="over_m" style="margin-top:8%;display: none;">
        <div class="img" style="width:28%;float: left;margin-left: 4%;margin-top: 10%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#fff"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
            <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-left: 6%;">
                <font color="#fff"><b>仅限购买时使用</b></font>
            </div>
        </div>
        <div class="font_s" style="width: 58%;height:100%;float: right;display: flex;align-items: center;margin-right: 2%;">
            <ul>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                    <font color="#fff"><?php echo date('m月d日',$result['addtime']); ?> - <?php echo date('m月d日',$result['overtime']); ?>使用有效</font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 20%;">
                    <font color="#979797"><b>代金券</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 5%;">
                    <font color="#fff"><b>兑换码：<?php echo $result['con_code_m']; ?></b></font>
                </li>
                <li style='font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;background-color: #979797;'>
                    <font color="#fff"><b>&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 6%;">
                    <font color="#fff"><b>最终解释权归快舒尔所有</b></font>
                </li>
            </ul>
        </div>
        <div class="over_my" style="width:30%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img src="img/coupon/shiyong2x.png"/>
        </div>
        <div class="overtime_m" style="width:30%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img src="img/coupon/overtime.png"/>
        </div>
    </div>
    <!--试用-->
    <div class="on" style="display:none;width: 90%;height:6rem;background-color: #FE9902;margin: 0 auto;margin-top: 4%;">
        <div style="width: 100%;height:auto;text-align: center;font-size: 1.2rem;">
            <font color="#fbf294" style="display:inline-block;margin-top: 8%;"><b>您已获得免费体验机会</b></font>
        </div>
        <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-top: 2%;">
            <span style="display: inline-block;height:0.8rem;line-height:0.8rem;background-color:  #F8820F;"><font color="#fff"><b>&nbsp;&nbsp;&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;&nbsp;&nbsp;</b></font></span>
        </div>
        <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-top: 4%;">
            <font color="#fff"><b>如需使用该券，请提前致电预约</b></font>
        </div>
    </div>
    <!--试用-->
    <div style="margin-top: 2%;width: 100%;float: left;">
        <img src="img/coupon/mybg.png"/>
    </div>
</div>
<!-----大于1080---->
<div class="demo4" style="display: none;">
    <div class="stamp_m" style="margin-top:8%;display: none;">
        <div class="img" style="width:28%;float: left;margin-left: 4%;margin-top: 12%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#dafffa"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
            <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-left: 6%;">
                <font color="#dafffa"><b>仅限购买时使用</b></font>
            </div>
        </div>
        <div class="font_s" style="width: 58%;height:100%;float: right;margin-right: 2%;display: flex;align-items: center;text-align: center;">
            <ul style="margin-top: 2%;">
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                    <font color="#dafffa"><?php echo date('m月d日',$result['addtime']); ?> - <?php echo date('m月d日',$result['overtime']); ?>使用有效</font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 20%;">
                    <font color="#dafffa"><b>代金券</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 8%;">
                    <font color="#036053"><b>兑换码：<?php echo $result['con_code_m']; ?></b></font>
                </li>
                <li style='font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;background-color: #038472;margin-left: 2%;'>
                    <font color="#dafffa"><b>&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 10%;">
                    <font color="#dafffa"><b>最终解释权归快舒尔所有</b></font>
                </li>
            </ul>
        </div>
    </div>
    <!--180none-->
    <div class="none_m" style="margin-top:8%;display: none;">
        <div class="img" style="width:28%;float: left;margin-left: 4%;margin-top: 12%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#fff"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
            <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-left: 6%;">
                <font color="#fff"><b>仅限购买时使用</b></font>
            </div>
        </div>
        <div class="font_s" style="width: 58%;height:100%;float: right;display: flex;align-items: center;">
            <ul>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 12%;">
                    <font color="#979797"><b>代金券</b></font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 12%;">
                    <font color="#979797"><b>暂无此券</b></font>
                </li>
            </ul>
        </div>
        <div class="over_my" style="width:30%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img src="img/coupon/shiyong2x.png"/>
        </div>
        <div class="overtime_m" style="width:30%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img src="img/coupon/overtime.png"/>
        </div>
    </div>
    <!--180已使用-->
    <div class="over_m" style="margin-top:8%;display: none;">
        <div class="img" style="width:28%;float: left;margin-left: 4%;margin-top: 12%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#fff"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
            <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-left: 6%;">
                <font color="#fff"><b>仅限购买时使用</b></font>
            </div>
        </div>
        <div class="font_s" style="width: 58%;height:100%;float: right;margin-right:2%;display: flex;align-items: center;">
            <ul style="margin-top: 2%;">
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                    <font color="#fff"><?php echo date('m月d日',$result['addtime']); ?> - <?php echo date('m月d日',$result['overtime']); ?>使用有效</font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 18%;">
                    <font color="#979797"><b>代金券</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 8%;">
                    <font color="#fff"><b>兑换码：<?php echo $result['con_code_m']; ?></b></font>
                </li>
                <li style='font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;background-color: #979797;margin-left: 2%;'>
                    <font color="#fff"><b>&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 8%;">
                    <font color="#fff"><b>最终解释权归快舒尔所有</b></font>
                </li>
            </ul>
        </div>
        <div class="over_my" style="width:40%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img style="width:60%;height: 40%;" src="img/coupon/shiyong2x.png"/>
        </div>
        <div class="overtime_m" style="width:40%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img style="width:60%;height: 40%;" src="img/coupon/overtime.png"/>
        </div>
    </div>
    <!--试用-->
    <div class="on" style="display:none;width: 90%;height:6rem;background-color: #FE9902;margin: 0 auto;margin-top: 6%;">
        <div style="width: 100%;height:auto;text-align: center;font-size: 1.2rem;">
            <font color="#fbf294" style="display:inline-block;margin-top: 8%;"><b>您已获得免费体验机会</b></font>
        </div>
        <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-top: 2%;">
            <span style="display: inline-block;height:0.8rem;line-height:0.8rem;background-color:  #F8820F;"><font color="#fff"><b>&nbsp;&nbsp;&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;&nbsp;&nbsp;</b></font></span>
        </div>
        <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-top: 4%;">
            <font color="#fff"><b>如需使用该券，请提前致电预约</b></font>
        </div>
    </div>
    <!--试用-->
    <div style="margin-top: 2%;width: 100%;position:absolute;">
        <img style="width: 100%;" src="img/coupon/mybg.png"/>
    </div>
</div>
<!---1080-->
<div class="demo2" style="display: none;">
    <div class="stamp_m1080" style="margin: 0 auto;margin-top:8%;display: none;">
        <div class="img" style="width:26%;float: left;margin-left: 6%;margin-top: 14%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#dafffa"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
            <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-left: 4%;">
                <font color="#dafffa"><b>仅限购买时使用</b></font>
            </div>
        </div>
        <div class="font_s" style="width: 58%;height:100%;float: right;margin-right: 2%;display: flex;align-items: center;">
            <ul>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                    <font color="#dafffa"><?php echo date('m月d日',$result['addtime']); ?> - <?php echo date('m月d日',$result['overtime']); ?>使用有效</font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 20%;">
                    <font color="#dafffa"><b>代金券</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 14%;">
                    <font color="#036053"><b>兑换码：<?php echo $result['con_code_m']; ?></b></font>
                </li>
                <li style='font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;background-color: #038472;margin-left: 2%;'>
                    <font color="#dafffa"><b>&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 10%;">
                    <font color="#dafffa"><b>最终解释权归快舒尔所有</b></font>
                </li>
            </ul>
        </div>
    </div>

    <!--180none-->
    <div class="none_m" style="margin-top:8%;display: none;">
        <div class="img" style="width:28%;float: left;margin-left: 4%;margin-top: 14%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#fff"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
            <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-left: 6%;">
                <font color="#fff"><b>仅限购买时使用</b></font>
            </div>
        </div>
        <div class="font_s" style="width: 58%;height:100%;float: right;display: flex;align-items: center;">
            <ul>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 12%;">
                    <font color="#979797"><b>代金券</b></font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 12%;">
                    <font color="#979797"><b>暂无此券</b></font>
                </li>
            </ul>
        </div>
        <div class="over_my" style="width:30%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img src="img/coupon/shiyong2x.png"/>
        </div>
        <div class="overtime_m" style="width:30%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img src="img/coupon/overtime.png"/>
        </div>
    </div>

    <!--180已使用-->
    <div class="over_m" style="margin-top:6%;display: none;">
        <div class="img" style="width:28%;float: left;margin-left: 4%;margin-top: 14%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#fff"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
            <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-left: 6%;">
                <font color="#fff"><b>仅限购买时使用</b></font>
            </div>
        </div>

        <div class="font_s" style="width: 58%;height:100%;float: right;display: flex;align-items: center;">
            <ul>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                    <font color="#fff"><?php echo date('m月d日',$result['addtime']); ?> - <?php echo date('m月d日',$result['overtime']); ?>使用有效</font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 18%;">
                    <font color="#979797"><b>代金券</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 12%;">
                    <font color="#fff"><b>兑换码：<?php echo $result['con_code_m']; ?></b></font>
                </li>
                <li style='font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;background-color: #979797;margin-left: 2%;'>
                    <font color="#fff"><b>&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 10%;">
                    <font color="#fff"><b>最终解释权归快舒尔所有</b></font>
                </li>
            </ul>
        </div>
        <div class="over_my" style="width:40%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img style="width:60%;height: 40%;" src="img/coupon/shiyong2x.png"/>
        </div>
        <div class="overtime_m" style="width:40%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img style="width:60%;height: 40%;" src="img/coupon/overtime.png"/>
        </div>
    </div>
    <!--试用-->
    <div class="on" style="display:none;width: 90%;height:6rem;background-color: #FE9902;margin: 0 auto;margin-top: 4%;">
        <div style="width: 100%;height:auto;text-align: center;font-size: 1.2rem;">
            <font color="#fbf294" style="display:inline-block;margin-top: 8%;"><b>您已获得免费体验机会</b></font>
        </div>
        <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-top: 2%;">
            <span style="display: inline-block;height:0.8rem;line-height:0.8rem;background-color:  #F8820F;"><font color="#fff"><b>&nbsp;&nbsp;&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;&nbsp;&nbsp;</b></font></span>
        </div>
        <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-top: 4%;">
            <font color="#fff"><b>如需使用该券，请提前致电预约</b></font>
        </div>
    </div>
    <!--试用-->
    <div style="margin-top: 2%;width: 100%;float: left;">
        <img style="width: 100%;" src="img/coupon/mybg.png"/>
    </div>
</div>
<!---640-->
<div class="demo3" style="display: none;">
    <div class="stamp_m" style="margin-top:6%;display: none;">
        <div class="img" style="width:22%;float: left;margin-left: 2%;margin-top: 10%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#dafffa"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
            <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-left: 22%;">
                <font style="white-space:nowrap;" color="#dafffa"><b>仅限购买时使用</b></font>
            </div>
        </div>
        <div class="font_s" style="width: 58%;height:100%;float: right;margin-right: 6%;display: flex;align-items: center;">
            <ul>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                    <font color="#dafffa"><?php echo date('m月d日',$result['addtime']); ?> - <?php echo date('m月d日',$result['overtime']); ?>使用有效</font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 22%;">
                    <font color="#dafffa"><b>代金券</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 10%;">
                    <font color="#036053"><b>兑换码：<?php echo $result['con_code_m']; ?></b></font>
                </li>
                <li style='font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;background-color: #038472;margin-left: 4%;'>
                    <font color="#dafffa"><b>&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 12%;">
                    <font color="#dafffa"><b>最终解释权归快舒尔所有</b></font>
                </li>
            </ul>
        </div>
    </div>

    <!--180none-->
    <div class="none_m" style="margin-top:8%;display: none;">
        <div class="img" style="width:22%;float: left;margin-left: 2%;margin-top: 16%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#fff"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
        </div>
        <div class="font_s" style="width: 58%;height:100%;float: right;display: flex;align-items: center;margin-right: 2%;">
            <ul>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 12%;">
                    <font color="#979797"><b>代金券</b></font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 12%;">
                    <font color="#979797"><b>暂无此券</b></font>
                </li>
            </ul>
        </div>
        <div class="over_my" style="width:30%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img src="img/coupon/shiyong2x.png"/>
        </div>
        <div class="overtime_m" style="width:30%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img src="img/coupon/overtime.png"/>
        </div>
    </div>
    <!--180已使用-->
    <div class="over_m" style="margin-top:6%;display: none;">
        <div class="img" style="width:22%;float: left;margin-left: 2%;margin-top: 12%;">
            <div style="text-align: center;letter-spacing: -0.1rem;">
                <span style="font-size: 0.5rem;white-space:nowrap;"><font color="#fff"><b>￥</b><b style="font-size: 2.6rem"><?php echo $result['coupon_value'];?> &nbsp;</b></font></span>
            </div>
            <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-left: 18%;">
                <font style="white-space:nowrap;" color="#fff"><b>仅限购买时使用</b></font>
            </div>
        </div>

        <div class="font_s" style="width: 58%;height:100%;float: right;display: flex;align-items: center;margin-right: 4%;">
            <ul>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;">
                    <font color="#fff"><?php echo date('m月d日',$result['addtime']); ?> - <?php echo date('m月d日',$result['overtime']); ?>使用有效</font>
                </li>
                <li style="font-size: 1.2rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 20%;">
                    <font color="#979797"><b>代金券</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 7%;">
                    <font color="#fff"><b>兑换码：<?php echo $result['con_code_m']; ?></b></font>
                </li>
                <li style='font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;background-color: #979797;margin-left: 1%;'>
                    <font color="#fff"><b>&nbsp;&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;&nbsp;</b></font>
                </li>
                <li style="font-size: 0.5rem;white-space:nowrap;margin-bottom: 0.4rem;margin-left: 8%;">
                    <font color="#fff"><b>最终解释权归快舒尔所有</b></font>
                </li>
            </ul>
        </div>
        <div class="over_my" style="width:40%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img style="width:60%;height: 40%;" src="img/coupon/shiyong2x.png"/>
        </div>
        <div class="overtime_m" style="width:40%;position:absolute; z-index:2; left:60%; top:32%;display: none;">
            <img style="width:60%;height: 40%;" src="img/coupon/overtime.png"/>
        </div>
    </div>
    <!--试用-->
    <div class="on" style="display:none;width: 90%;height:6rem;background-color: #FE9902;margin: 0 auto;margin-top: 4%;">
        <div style="width: 100%;height:auto;text-align: center;font-size: 1.2rem;">
            <font color="#fbf294" style="display:inline-block;margin-top: 8%;"><b>您已获得免费体验机会</b></font>
        </div>
        <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-top: 2%;">
            <span style="display: inline-block;height:0.8rem;line-height:0.8rem;background-color:  #F8820F;"><font color="#fff"><b>&nbsp;&nbsp;&nbsp;经销商电话：<?php echo $result['dealer_tell']; ?>&nbsp;&nbsp;&nbsp;</b></font></span>
        </div>
        <div style="width: 100%;text-align: center;font-size: 0.5rem;margin-top: 4%;">
            <font color="#fff"><b>如需使用该券，请提前致电预约</b></font>
        </div>
    </div>
    <!--试用-->
    <div style="margin-top: 2%;width: 100%;float: left;">
        <img style="width: 100%;" src="img/coupon/mybg.png"/>
    </div>
</div>
<div class="window" style="display: none;">
    <span>请在手机端查看。</span>
</div>
</body>
<script>
    var windowWidth = $(window).width();
    //var wid = window.screen.width;
    //var hid = window.screen.height ;
    var status_m = "<?php echo $result['status_m']?>";
    var overtime = "<?php echo $result['overtime']?>";
    var con_code_m = "<?php echo $result['con_code_m']?>";
    //alert(windowWidth);
    //alert(wid);

    //判断浏览器
    if(/MicroMessenger/i.test(navigator.userAgent)){
        if(navigator.platform == 'Win32' || navigator.platform == 'Win64'){
            alert('请在手机端查看。');
            window.close();
            //这是微信平台下浏览器
        }
    }
    if(windowWidth <= 640){
        if(status_m == 1 && overtime > Math.round(new Date() / 1000) && con_code_m != ''){
            $(".demo3").show();
            $(".stamp_m").show();
            $(".on").show();
        }
        //180已使用
        if(status_m == 2 && con_code_m != ''){
            $(".demo3").show();
            $(".over_m").show();
            $(".over_my").show();
            $(".on").show();
        }

        //180已过期
        if(status_m == 1 && overtime < Math.round(new Date() / 1000) && con_code_m != ''){
            $(".demo3").show();
            $(".over_m").show();
            $(".overtime_m").show();
            $(".on").show();
        }
        //没有优惠券
        if(con_code_m == ''){
            $(".demo3").show();
            $(".none_m").show();
        }
    }
    if(windowWidth > 640 && windowWidth <= 750){

        if(status_m == 1 && overtime > Math.round(new Date() / 1000) && con_code_m != ''){
            $(".demo").show();
            $(".stamp_m").show();
            $(".on").show();
        }

        //180已使用
        if(status_m == 2 && con_code_m != ''){
            $(".demo").show();
            $(".over_m").show();
            $(".over_my").show();
            $(".on").show();
        }

        //180已过期
        if(status_m == 1 && overtime < Math.round(new Date() / 1000) && con_code_m != ''){
            $(".demo").show();
            $(".over_m").show();
            $(".overtime_m").show();
            $(".on").show();
        }
        if(con_code_m == ''){
            $(".demo").show();
            $(".none_m").show();
        }
    }
    if(windowWidth > 750 && windowWidth <= 786){

        if(status_m == 1 && overtime > Math.round(new Date() / 1000) && con_code_m != ''){
            $(".demo2").show();
            $(".stamp_m1080").show();
            $(".on").show();
        }

        //180已使用
        if(status_m == 2 && con_code_m != ''){
            $(".demo2").show();
            $(".over_m").show();
            $(".over_my").show();
            $(".on").show();
        }

        //180已过期
        if(status_m == 1 && overtime < Math.round(new Date() / 1000) && con_code_m != ''){
            $(".demo2").show();
            $(".over_m").show();
            $(".overtime_m").show();
            $(".on").show();
        }
        //没有优惠券
        if(con_code_m == ''){
            $(".demo2").show();
            $(".none_m").show();
        }
    }
    //786-1080
    if(windowWidth > 786 && windowWidth <= 1080){

        if(status_m == 1 && overtime > Math.round(new Date() / 1000) && con_code_m != ''){
            $(".demo2").show();
            $(".stamp_m1080").show();
            $(".on").show();
        }

        //180已使用
        if(status_m == 2 && con_code_m != ''){
            $(".demo2").show();
            $(".over_m").show();
            $(".over_my").show();
            $(".on").show();
        }

        //180已过期
        if(status_m == 1 && overtime < Math.round(new Date() / 1000) && con_code_m != ''){
            $(".demo2").show();
            $(".over_m").show();
            $(".overtime_m").show();
            $(".on").show();
        }
        //没有优惠券
        if(con_code_m == ''){
            $(".demo2").show();
            $(".none_m").show();
        }
    }
    if(windowWidth > 1080 && windowWidth <= 1500){

        if(status_m == 1 && overtime > Math.round(new Date() / 1000) && con_code_m != ''){
            $(".demo4").show();
            $(".stamp_m").show();
            $(".on").show();
        }

        //180已使用
        if(status_m == 2 && con_code_m != ''){
            $(".demo4").show();
            $(".over_m").show();
            $(".over_my").show();
            $(".on").show();
        }

        //180已过期
        if(status_m == 1 && overtime < Math.round(new Date() / 1000) && con_code_m != ''){
            $(".demo4").show();
            $(".over_m").show();
            $(".overtime_m").show();
            $(".on").show();
        }
        //没有优惠券
        if(con_code_m == ''){
            $(".demo4").show();
            $(".none_m").show();
        }
    }
    if(windowWidth > 1500){
        $(".window").show();
    }

</script>
</html>
